.input {
  background-color: white;
  margin-block: 1em;
}
.input > * {
  padding-block: 0.5em;
}
.input label {
  display: block;
  font-size: small;
  padding: 1em;
  color: rgb(0, 128, 105);
}
.input label,
.input input {
  padding: 1em 1em 0.5em 1em;
}
.input input[type="text"] {
  padding-top: 0;
  background-color: white;
  border: none;
  font-size: large;
  box-shadow: none;
  width: 80%;
  border-bottom: 2px solid white;
}
.input input:disabled {
  color: black;
}
.input input:focus,
.input input:focus-visible {
  border: none;
  outline: none;
  box-shadow: none;
  border-bottom: 2px solid #008069;
}
.input svg {
  color: grey;
  padding: none;
}
.input .values {
  display: flex;
}
.input .edit-button {
  margin-left: auto;
  margin-right: 2em;
  cursor: pointer;
}
