.chat {
  display: flex;
  padding: 0.75em 0.5em;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s linear;
  margin-inline: 0.5em;
  border-bottom: 1px solid lightgrey;
  .chat-image {
    img {
      width: 45px;
      height: 45px;
      object-fit: contain;
      object-position: center;
    }
  }
  .chat-details {
    margin-right: auto;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .chat-heading {
    margin-block: auto;
    font-size: large;
    font-weight: normal;
  }
  .chat-msg {
    width: 100%;
    color: grey;
    margin-block: auto;
    white-space: nowrap;
    overflow: hidden;
  }
  img {
    width: 100%;
    border-radius: 50%;
  }
  .time {
    color: grey;
    font-size: small;
    display: grid;
    place-items: center;
  }
}

.chat:hover {
  background-color: #f0f2f5;
}
