.copy-element {
  border: 1px solid lightgrey;
  padding: 0.25em;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  min-height: 200px;
  .copy-button {
    width: auto;
    height: auto;
    background-color: #14bde4;
    color: white;
    font-size: medium;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-inline: 1em 2em;
    border-radius: 5px;
    cursor: pointer;
    display: block;
  }
}
