.modal-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);

  display: grid;
  place-items: center;
  z-index: 2;

  > * {
    position: relative;
    z-index: 1;
    color: white;
  }
  .modal {
    min-height: 200px;
    border-radius: 10px;
    position: relative;
    background-color: #f0f2f5;
    opacity: 1;
    z-index: 3;
    color: black;
    border-radius: 20px;
    // height: 271.8px;
    width: 422.7px;
    display: grid;
    place-items: center;
    border: none;
    padding-top: 2em;
  }
  .close-button {
    cursor: pointer;
    color: red;
    font-size: large;
    position: absolute;
    top: 0;
    right: 010px;
  }
  svg {
    font-size: 50px;
  }
}
