*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-container {
    background-color: #00a783;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    background-color: #f8f8f8;
    width: 98%;
    height: 95%;
}