.new-chat {
  margin-block: 1em;
  button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
    color: darkslategray;
    cursor: pointer;
    padding: 1em;
  }
}
