.header {
  display: flex;
  padding: 0.75em;
  background-color: #f0f2f5;
  justify-content: space-between;
  img {
    margin-left: 5px;
    width: 35px;
    height: 35px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
    border-radius: 50%;
  }
}
