.chat-header {
  display: flex;
  justify-content: flex-start;
  padding: 0.5em;
  background-color: #f0f2f5;
  align-items: center;
  cursor: pointer;

  .search-button {
    margin-left: auto;
  }
  .chat-words {
    margin-left: 2em;
  }
  .chat-title {
    font-weight: normal;
    font-size: large;
    max-width: 300px;
  }
  .chat-about {
    color: #667781;
    font-size: small;
    max-width: 300px;
  }
  .settings {
    border: none;
    cursor: pointer;
    margin-inline: 0.5em;
    background: inherit;
  }
  .profile-picture {
  }
  img {
    border-radius: 50%;
    height: 100%;
    width: 45px;
    height: 45px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
  }
}
