.img-container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 2em;
  svg {
    color: white;
  }

  .img-cover {
    overflow: hidden;
    position: absolute;
    inset: 0;
    background-color: #5c6c75;
    color: white;
  }
  .grp {
    overflow: hidden;
    position: absolute;
    inset: 0;
    > span {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    > * {
      overflow: hidden;
      position: absolute;
      inset: 0;
      top: 30%;
      bottom: 50%;
    }
  }
  input {
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  input[type="file"] {
    position: absolute;
    inset: 0;
    color: rgba(102, 109, 112, 0.8);
    cursor: pointer;
    border-radius: 50%;
  }

  input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
    color: rgba(102, 109, 112, 0.8);
  }
  .hover-container {
    z-index: 2;
  }
}
