.message {
  display: flex;
  padding: 0.5em;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  margin-block: 0.25em;
  max-width: 500px;
  word-wrap: break-word;
  border-radius: 7.5px;
  overflow-wrap: normal;
  overflow-wrap: break-word;
  cursor: pointer;
  .time {
    font-size: x-small;
    margin-top: auto;
    margin-left: 0.5em;
    color: #667781;
  }
  .text {
    overflow-wrap: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 400px;
    padding: 0.2em;
  }
}
.left-message {
  margin-right: auto;
  border-top-left-radius: 0;
  background-color: #ffffff;
}

.right-message {
  border-top-right-radius: 0;
  margin-left: auto;
  background-color: #d9fdd3;
}
